
CreateNameFile/.vs/CreateNameFile/v16/.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.json
*.dll
*.exe
*.pdb
*.cache
*.props
*.targets
CreateNameFile/CreateNameFile/obj/Debug/netcoreapp3.0/CreateNameFile.AssemblyInfo.cs
CreateNameFile/CreateNameFile/obj/Debug/netcoreapp3.0/CreateNameFile.csproj.FileListAbsolute.txt
CreateNameFile/.vs/CreateNameFile/DesignTimeBuild/.dtbcache
ReadNameFile/.vs/ReadNameFile/v16/.suo
ReadNameFile/ReadNameFile/obj/Debug/netcoreapp3.0/ReadNameFile.csproj.FileListAbsolute.txt
ReadNameFile/ReadNameFile/obj/Debug/netcoreapp3.0/ReadNameFile.AssemblyInfo.cs
ReadNameFile/.vs/ReadNameFile/DesignTimeBuild/.dtbcache
AccessSomeNames/.vs/AccessSomeNames/v16/.suo
AccessSomeNames/AccessSomeNames/obj/Debug/netcoreapp3.0/AccessSomeNames.AssemblyInfo.cs
AccessSomeNames/AccessSomeNames/obj/Debug/netcoreapp3.0/AccessSomeNames.csproj.FileListAbsolute.txt
AccessSomeNames/.vs/AccessSomeNames/DesignTimeBuild/.dtbcache
EnterInvoices/.vs/EnterInvoices/v16/.suo
*.config
EnterInvoices/EnterInvoices/obj/Debug/EnterInvoices.csproj.FileListAbsolute.txt
*.resources
ViewInvoices/.vs/ViewInvoices/v16/.suo
TestFileAndDirectory/.vs/TestFileAndDirectory/v16/.suo
TestFileAndDirectory/TestFileAndDirectory/obj/Debug/netcoreapp3.0/TestFileAndDirectory.AssemblyInfo.cs
TestFileAndDirectory/TestFileAndDirectory/obj/Debug/netcoreapp3.0/TestFileAndDirectory.csproj.FileListAbsolute.txt
TestFileAndDirectory/.vs/TestFileAndDirectory/DesignTimeBuild/.dtbcache
TestFileAndDirectory2/.vs/TestFileAndDirectory2/v16/.suo
TestFileAndDirectory2/TestFileAndDirectory2/Properties/AssemblyInfo.cs
TestFileAndDirectory2/TestFileAndDirectory2/obj/Debug/TestFileAndDirectory2.csproj.FileListAbsolute.txt
*.nyh~
WriteCustomerRecords/.vs/WriteCustomerRecords/v16/.suo
WriteCustomerRecords/WriteCustomerRecords/obj/Debug/netcoreapp3.0/WriteCustomerRecords.AssemblyInfo.cs
WriteCustomerRecords/WriteCustomerRecords/obj/Debug/netcoreapp3.0/WriteCustomerRecords.csproj.FileListAbsolute.txt
WriteCustomerRecords/.vs/WriteCustomerRecords/DesignTimeBuild/.dtbcache
ReadCustomerRecords/.vs/ReadCustomerRecords/v16/.suo
ReadCustomerRecords/ReadCustomerRecords/obj/Debug/netcoreapp3.0/ReadCustomerRecords.AssemblyInfo.cs
ReadCustomerRecords/ReadCustomerRecords/obj/Debug/netcoreapp3.0/ReadCustomerRecords.csproj.FileListAbsolute.txt
CustomizeAForm/.vs/CustomizeAForm/v16/.suo
CustomizeAForm/CustomizeAForm/obj/Debug/CustomizeAForm.csproj.FileListAbsolute.txt
RetrieveCustomizedForm/.vs/RetrieveCustomizedForm/v16/.suo
CustomizeAForm/CustomizeAForm/Properties/AssemblyInfo.cs
ReadCustomerRecords/.vs/ReadCustomerRecords/DesignTimeBuild/.dtbcache
FindCustomerRecords/.vs/FindCustomerRecords/v16/.suo
FindCustomerRecords/FindCustomerRecords/obj/Debug/netcoreapp3.0/FindCustomerRecords.AssemblyInfo.cs
FindCustomerRecords/FindCustomerRecords/obj/Debug/netcoreapp3.0/FindCustomerRecords.csproj.FileListAbsolute.txt
