
CreateNameFile/.vs/CreateNameFile/v16/.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.json
*.dll
*.exe
*.pdb
*.cache
*.props
*.targets
CreateNameFile/CreateNameFile/obj/Debug/netcoreapp3.0/CreateNameFile.AssemblyInfo.cs
CreateNameFile/CreateNameFile/obj/Debug/netcoreapp3.0/CreateNameFile.csproj.FileListAbsolute.txt
CreateNameFile/.vs/CreateNameFile/DesignTimeBuild/.dtbcache
