
CreateNameFile/.vs/CreateNameFile/v16/.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.json
*.dll
*.exe
*.pdb
*.cache
*.props
*.targets
CreateNameFile/CreateNameFile/obj/Debug/netcoreapp3.0/CreateNameFile.AssemblyInfo.cs
CreateNameFile/CreateNameFile/obj/Debug/netcoreapp3.0/CreateNameFile.csproj.FileListAbsolute.txt
CreateNameFile/.vs/CreateNameFile/DesignTimeBuild/.dtbcache
ReadNameFile/.vs/ReadNameFile/v16/.suo
ReadNameFile/ReadNameFile/obj/Debug/netcoreapp3.0/ReadNameFile.csproj.FileListAbsolute.txt
ReadNameFile/ReadNameFile/obj/Debug/netcoreapp3.0/ReadNameFile.AssemblyInfo.cs
ReadNameFile/.vs/ReadNameFile/DesignTimeBuild/.dtbcache
AccessSomeNames/.vs/AccessSomeNames/v16/.suo
AccessSomeNames/AccessSomeNames/obj/Debug/netcoreapp3.0/AccessSomeNames.AssemblyInfo.cs
AccessSomeNames/AccessSomeNames/obj/Debug/netcoreapp3.0/AccessSomeNames.csproj.FileListAbsolute.txt
AccessSomeNames/.vs/AccessSomeNames/DesignTimeBuild/.dtbcache
EnterInvoices/.vs/EnterInvoices/v16/.suo
*.config
EnterInvoices/EnterInvoices/obj/Debug/EnterInvoices.csproj.FileListAbsolute.txt
*.resources
